<%= simple_form_for(address, remote: true) do |form| %>
  <%= form.input :name %>
  <%= form.input :address %>
  <%= form.button :submit %>

  <% if address.errors.any? %>
    <div class="errors-container">
      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
