<button type="button" class="close" aria-label="Close"></button>

<div class="body">
  <%= simple_form_for(address, remote: true) do |form| %>
    <%= form.input :name %>
    <%= form.input :address, input_html: { class: "autocomplete" } %>
    <%= form.button :submit %>

    <% if address.errors.any? %>
      <div class="errors-container">
        <ul>
          <% address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
