<div class="main">
  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>
  <div class="map-header">
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
    <div class="search-bar">
        <%= render 'search' %>
    </div>
  </div>
  <div class="toggle-park">
    <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
      <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"><%= image_tag("car.png") %></span>
      </label>
    </div>
  </div>
  <div class="around-me">
    <%= image_tag("around-me.png") %>
  </div>
  <div class="pawk-now">
    <%= image_tag("pawk-now.png") %>
    <%= simple_form_for(Spot.new, html: { class: "hidden-form d-none"}, remote: true) do |f| %>
      <%= f.input :lat %>
      <%= f.input :lng %>
      <%= f.submit %>
    <% end %>
  </div>
  <%= render 'menu_open'%>
  <div id="address-form" class="p-0 overflow-hidden bg-blue">
    <div class="d-flex justify-content-end">
      <button type="button" id="close-address"><i class="fas fa-times"></i></button>
    </div>
    <div id="address-form-body">
      <%= render 'form', address: @address %>
    </div>
  </div>
</div>
