<div class="map">
  <div class="map-header">
    <div class="menu-btn">
    </div>
    <div class="search-bar">
    </div>
  </div>
  <div class="actions">
    <div class="toggle-park">
    </div>
    <div class="around-me">
    </div>
  </div>
  <div class="menu">
    <div class="menu-header">
    </div>
    <div class="avatar">
    </div>
    <div class="menu-content">
      <div class="cars">
      </div>
      <div class="addresses">
        <ul>
          <%@myaddresses.each do |address| %>
            <li>
              <h3><%= address.name %></h3>
              <p><%= address.address %></p>
            </li>
         <% end %>
        </ul>
        <%= simple_form_for(@address) do |form| %>
          <%= form.input :name %>
          <%= form.input :address %>
          <%= form.button :submit %>

          <% if @address.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @address.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="menu-footer">
    </div>
  </div>
</div>
