<div class="container p-0 min-height-100vh overflow-hidden bg-blue">

    <%= image_tag("pawkeo.svg", id:"logo") %>


  <div class="under-wave">
    <div class="description">
      <h1 class="mb-0"> KEEP CALM </h1>
      <p>AND</p>
      <h1>FIND A SPOT</h1> <br>
      <span> Pawkeo helps you find a spot to park your car, around you or a specific address. </span>
       <div class="phone-anim">
      <%= image_tag("Phone.png") %>
    </div>
    </div>

    <div class="card-login">

      <i class="fas fa-times" id="cross-leave"></i>

      <h2 class="txt-gradient-blue">Welcome to PAWKEO</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: false,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", id: "btn-login", data: {target: "#exampleModal", toggle: "modal"}%>
        </div>
      <div class="pt-2">
        <%= render "devise/shared/links" %>
      </div>
        <!-- Modal -->
        <div class="modal bg-blue fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel"> Hi, <%#= @user.first_name  %> !</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"> <i class="fas fa-times"></i></span>
                </button>
              </div>
              <div class="modal-body">
        <p>What do you want to do?</p>
        <%= link_to "Find a spot around me", "/spot_searches/1" %>
        <br>
        <%= link_to "Enter my destination", "/spot_searches/1" %>
        <br>
        <%= link_to "Pawk! I found a free spot", "/spot_searches/1" %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="btn-start">
    <h1>START</h1>
  </div>

</div>
