<div class="container p-0 min-height-100vh overflow-hidden bg-blue d-flex flex-column">

    <%= image_tag("pawkeo.svg", id:"logo") %>


    <div class="title-home">
      <p> Find a <span>parking</span><span> spot </span> easily</p>
    </div>

    <div class="subtitle-home">
      <span> Pawkeo helps you find a spot to park your car, around you or a specific address. </span>
    </div>

    <div class="phone-anim">
      <%= image_tag("Phone.png") %>
    </div>


    <div class="form-login">

      <%= image_tag("pawkeo.svg", id:"logo") %>

      <i class="fas fa-times" id="cross-leave"></i>

      <h2>Welcome</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: false,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "LOG IN", id: "btn-login"%>
        </div>

      <div class="pt-2">
        <%= render "devise/shared/links" %>
      </div>
      <% end %>
  </div>


  <% if current_user %>
    <div class="btn-start"id="btn-start-logged">
      <h1>START</h1>
      <%= simple_form_for([@spot_search, Spot.new], html: { class: "form-start d-none" }, spot_searches_path, method: :post) do |f| %>
      <%= f.input :lat, input_html: { id: 'spotsea_latitude' } %>
      <%= f.input :lng, input_html: { id: 'spotsea_longitude' } %>
      <%= f.submit %>
      <% end %>
    </div>
  <% else %>
    <div class="btn-start" id="btn-start">
      <p>START</p>
    </div>
  <% end %>
</div>
